@font-face {
    font-family: 'kanitextralight';
    src: url('../fonts/kanit-extralight-webfont.woff2') format('woff2'),
         url('../fonts/kanit-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitsemibold';
    src: url('../fonts/kanit-semibold-webfont.woff2') format('woff2'),
         url('../fonts/kanit-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitthin';
    src: url('../fonts/kanit-thin-webfont.woff2') format('woff2'),
         url('../fonts/kanit-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuzeitgrobold';
    src: url('../fonts/urw_-_neuzeitgro_bold-webfont.woff2') format('woff2'),
         url('../fonts/urw_-_neuzeitgro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* *************************************************** */
.neuzeit {
    font-family: 'neuzeitgrobold';
}

.opensans {
    font-family: 'opensans';
}

.kanit {
    font-family: 'kanitregular';
}

.kanit-semibold {
    font-family: 'kanitsemibold';
}

.kanit-light {
    font-family: 'kanitlight';
}

.kanit-extralight {
    font-family: 'kanitextralight';
}

.text-white {
    color: #ffffff;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-12 {
    font-size: 0.750em;
}

.font-18 {
    font-size: 1.125em;
}

.font-24 {
    font-size: 1.500em;
}

.font-30 {
    font-size: 1.875em;
}

.font-50 {
    font-size: 3.125em;
}

/* *************************************************** */
::-webkit-input-placeholder { color:#404040 !important; font-family: 'opensans' !important; font-size: 1rem !important; }
::-moz-placeholder { color:#404040 !important; font-family: 'opensans' !important; font-size: 1rem !important; } /* firefox 19+ */
:-ms-input-placeholder { color:#404040 !important; font-family: 'opensans' !important; font-size: 1rem !important; } /* ie */
input:-moz-placeholder { color:#404040 !important; font-family: 'opensans' !important; font-size: 1rem !important; }

.intl-tel-input {
    width: 100%;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.2;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.quiz {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.fullwidth {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    position: relative;
}

.logo {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1000;
}

.column-full {
    width: 100%;
    height: 100%;
}

.middle-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.copyright {
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 1000;
}

.home {
    background: url('../img/bg_home.jpg') no-repeat center center / cover;
}

.quiz {
    background: url('../img/bg_quiz.jpg') no-repeat center center / cover;
}

.finish {
    background: url('../img/bg_finish.jpg') no-repeat center center / cover;
}

.quiz-question {
    position: relative;
}

.question-number {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
    font-size: 2.500em;
    color: #ffffff;
    font-family: 'kanitthin';
}

.question-number .big {
    font-size: 1.639em;
    font-family: 'kanitregular';
}

.question {
    margin-top: 70px;
    margin-bottom: 30px;
}

.answers ul {
    list-style: none;
    display: inline-block;
}

.answers ul li {
    text-align: left;
}

.answers ul li label {
    display: inline-block;
}

.answers ul li img {
    vertical-align: baseline;
    margin-right: 5px;
}

.custom-checkbox {
    cursor: pointer;
}

.error {
    background: #980f21;
    padding: 10px 15px;
    display: none;
}

.legend-form {
    margin-top: 5px;
}

.btn-red, .btn-red:focus, .btn-red:visited {
    background: #980f21;
    color: #ffffff;
    font-family: 'Neuzeit';
    font-size: 15.91px;
    text-transform: uppercase;
    padding: 19px 73px;
    border-radius: 5px;
    margin-top: 5%;
    display: inline-block;
    font-family: 'neuzeitgrobold';
}

.btn-red:hover {
    color: #ffffff;
    text-decoration: none;
    background: #7a0b1a;
}

p {
    margin-bottom: 0;
    margin-top: 30px;
    line-height: 1.2em;
}

.phrase-don {
    margin-top: 40px;
}

.dons {
    margin-top: 20px;
    padding-bottom: 50px;
}

.bloc-don {
    background: #980f21;
    border-radius: 5px;
    padding: 0;
    height: 100%;
    cursor: pointer;
}

.bloc-don .title {
    background: #880c1d;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.bloc-don .text {
    padding: 10px 20px 30px;
}

.bloc-don .text-don {
    margin-top: 10px;
}

.qtip-red {
    background-color: #980f21;
    color: #FFFFFF;
    border-color: #980f21;
}

.qtip-content {
    font-size: 1rem;
    padding: 10px 15px;
}

@media all and (max-width: 1025px) {
    body {
        font-size: 14px;
    }
    
    .middle-screen {
        width: 80%;
    }
}

@media all and (max-width: 769px) {
    body {
        font-size: 12px;
    }

    .logo {
        top: 15px;
        left: 15px;
    }
    
    .middle-screen {
        width: 95%;
    }

    .qtip-content {
        font-size: 0.75rem;
    }
    
    p {
        margin-top: 10px;
    }
    
    .phrase-don {
        margin-top: 20px;
    }
    
    .finish {
        overflow: auto;
    }
    
    .finish .middle-screen {
        width: 80%;
        position: relative;
        top: 100px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    
    .bloc-don {
        margin-top: 20px;
    }
    
    .column-don {
        height: auto !important;
    }
    
    .column-don:first-child .bloc-don {
        margin-top: 0;
    }
    
    .column-don.end {
        margin-bottom: 50px;
    }
}

@media all and (max-height: 750px) {
    .finish {
        overflow: auto;
    }

    .finish .middle-screen {
        width: 80%;
        position: relative;
        top: 100px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
